@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');

$font-background-dark: #252B42;
$font-light: #737373;
$button-color: #FF7B47;
$icons-color: #0D5C63;
$dark-background-color: #252B42;
$subscribe-background-color: #17213C;


/*Обнуление*/
/**,*/
/**::before,*/
/**::after {*/
/*  padding: 0;*/
/*  margin: 0;*/
/*  border: 0;*/
/*  box-sizing: border-box;*/
/*}*/

/*a {*/
/*  text-decoration: none;*/
/*}*/

/*ul,*/
/*ol,*/
/*li {*/
/*  list-style: none;*/
/*}*/

.page {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
}

.wrapper {
  max-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1042px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
  outline: 1px solid #1aff00;
}
/*HEADER*/
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  outline: 1px solid red;
}
.header__container {
  display: flex;
  align-items: center;
  min-height: 104px;
  outline: 1px solid red;
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: .1px;
  color: #252b42;
  text-decoration: none;
}

.header__menu {
  margin: 0 0 0 132px;
  @media screen and (max-width: 992px) {
    margin-left: 80px;
  }
  @media screen and (max-width: 767px) {
    margin-left: 50px;
  }
  @media screen and (max-width: 479px) {
    margin-left: 20px;
  }
}
.menu {
  padding: 5px 0;  /* отступы безопасности */
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 21px;
  margin: 0;
  padding: 0;
  list-style: none;

}

.menu__item {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71;
  letter-spacing: .2px;
  @media screen and (max-width: 479px) {
    font-size: 18px;
  }
}

.menu__link {
  color: #737373;
  text-decoration: none;

}












  
  






